{% extends 'base.html.twig' %}
{% import 'extra/btn.html.twig' as btn %}

{% block title %}Hello DefaultController!{% endblock %}

{% block stylesheets %}
    <style>
        .slides li {
            display: none;
        }
        .slides li.active {
            display: block;
        }
        .slides {
            padding: 0;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        var listArticles = document.querySelectorAll(".slides li");
        var btnNext = document.querySelector("#btn-next");
        var btnPrev = document.querySelector("#btn-prev");

        btnNext.addEventListener('click', nextAction);
        btnPrev.addEventListener('click', prevAction);


        listArticles[0].className = "active";

        function prevAction(){
            let active = findActive(listArticles);
            listArticles[active].className = "";
            if(--active <= -1){
                active = listArticles.length - 1;
            } 
            listArticles[active].className = "active";
        } 

        function nextAction(){
            let active = findActive(listArticles);
             listArticles[active].className = "";
            if(++active >= listArticles.length){
                active =  0;
            } 
            listArticles[active].className = "active";
        }

        function findActive(list) {
            let result = 0;
            list.forEach((elem, i) => {
                if(elem.className === "active") {
                    result = i;
                }
            });
            return result;
        }
    </script>
{% endblock %}


{% block body %}
    <div class="row justify-content-around">
        <div class="col-8 slider">
            <ul class="slides">
                {% for article in articles %}
                    <li>
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.name }}</h5>
                                <p class="card-text">{{ article.description|slice(0, 120) }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {{ btn.simple(path('article_show', {'id': article.id}), "sm btn-outline-info", "View", "ROLE_READ_ARTICLE", article) }}
                                        {{ btn.simple(path('article_edit', {'id': article.id}), "sm btn-outline-success", "Edit", "ROLE_UPDATE_ARTICLE", article) }}
                                    </div>
                                    <small class="text-muted">{{ article.price }} €</small>
                                </div>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <p class="alert alert-danger">Article not found</p>
                {% endfor %}    
            </ul>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-8">
            <div class="row justify-content-between">
                <div class="col-4 btn btn-primary btn-small" id="btn-prev">Prev</div>
                <div class="col-4 btn btn-primary btn-small" id="btn-next">Next</div>
            </div>
        </div>
    </div>
{% endblock %}
